@charset "UTF-8";

.everything {
	
}

h1{
	font-family: "LEMON MILK Bold";
}

.typography {
	width: 550px;
	height: 250px;
	text-align: center
	
}

.example {
	width: 800px;
	height: 200px;
	display:flex;
}

.exampletext{
	margin: 20px;
}

.colorPalette {
	width: 1200px;
	height: 200px;
	display:flex;
}

.colorText {
	color: #A9F89D;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 24px;
}

.yellow {
	width: 200px;
	height: 150px;
	background-color: #FEFDD2;
	text-align: center;
}

.orange {
	width: 400px;
	height: 150px;
	background-color: #e1975b;
	text-align: center;
}

.cyan {
	width: 600px;
	height: 150px;
	background-color: #467b7b;
	text-align: center;
}

.blue {
	width: 800px;
	height: 150px;
	background-color: #2b516e;
	text-align: center;
}

.darkblue {
	width: 1000px;
	height: 150px;
	background-color: #1e364d;
	text-align: center;
}

.centerThis {
	margin-left: auto;
  	margin-right: auto
}